@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Bold.ttf');
    font-family: PT-Astra-Sans_Bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin-top: 50px;
    bottom: 0px;
    position: relative;
    background: #163E6C;
}

.footer-contact {
    display: flex;
    font-family: PT-Astra-Sans_Bold;
    font-size: 22px;
    color:#FFFFFF;
}

.footer-contact a {
    text-decoration: none;
    color:#FFFFFF;
}

.footer-contact img {
    margin-left: 5px;
    margin-bottom: 2px;
}

.footer-info {
    height: 150px;
    width: 200px;
    margin-right: 45px;
    display: flex;
    align-items: center;
}

.copyright {
    max-width: 200px;
    /* height: 15px; */
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}

.footer-img {
    margin-left: 60px;
    max-width: 350px;
}

@media (max-width: 768px) {

    .footer {
        max-width: 375px;
        margin: 0px auto 0px auto;
        left: 0;
        right: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 137px;
        background: #029491;
    }

    .footer-img {
        margin-left: 18px;
        width: 111px;
        height: 111px;
    }

    .footer-info {
        height: 137px;
        width: 199px;
        margin-right: 19px;
    }
}