/* @font-face {
    src: url("../stylse/fonts/ferry_black.otf");
    font-family: ferry_black;
} */

@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Regular.ttf');
    font-family: PT-Astra-Sans_Regular;
}

@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Bold.ttf');
    font-family: PT-Astra-Sans_Bold;
}

main {
    max-width: 80%;
    min-width: 50%;
    height: 90%;
    margin-top: 93px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBE6D6;
}

.main-header {
    margin-top: 110px;
    text-align: center;
}

.main-table {
    max-width: 100%;
    margin-top: 100px;
    overflow-x: auto;
    text-align: center;
}

.main-table-title {
    color: #3d3d3d;
    font-size: 38px;
}

.service {
    /* display: flex;
    justify-content: space-between; */
    width: 1320px;
    height: 620px;
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
}

.service-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .service-txt {
    width: 743px;
    height: 288px;
    font-family: ferry_black;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 45px;
} */

.service-note {
    width: 534px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 20px;
}

.service-banner {
    width: 629px;
    height: 620px;
    margin-top: 27px;
}

.service-but {
    width: 335px;
    height: 59px;
    margin-top: 70px;
    border-radius: 5px;
    border: none;
    background: #5970FF;
    color: #FFFFFF;
    font-family: Inter-Regular;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
}

.material-react-table {
    margin-top: 50px;
    font-family: PT-Astra-Sans_Regular;
}

.custom-tabs {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

.custom-tabs .nav {
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.custom-tabs .nav-item {
    list-style-type: none;
}

.custom-tabs .nav-link {
    background-color: #ececec;
    color: #163E6C;
    width: 220px;
    height: 50px;
    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: PT-Astra-Sans_Bold;
    font-size: 20px;
}

.custom-tabs .nav-link.active {
    background-color: #D20A11;
    color: white;
}

@media (max-width: 768px) {
    .service {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 112px;
        margin-left: auto;
        margin-right: auto;
    }

    .service-txt {
        width: 361px;
        height: 136px;
        font-size: 28px;
        line-height: 33.6px;
        margin: 20px 0px 0px 14px;
    }

    .service-note {
        width: 327px;
        height: 66px;
        font-size: 18px;
        line-height: 21.78px;
        margin: 20px 0px 0px 14px;
    }

    .service-banner {
        width: 347px;
        height: 342px;
        margin-top: 24px;
    }

    .service-but {
        width: 335px;
        height: 59px;
        margin: 32px 0px 0px 14px;
    }
}







