@font-face {
    src: url("../stylse/fonts/ferry_black.otf");
    font-family: ferry_black;
}

.service {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 620px;
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
}

.service-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-txt {
    width: 743px;
    height: 288px;
    font-family: ferry_black;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 45px;
}

.service-note {
    width: 534px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 20px;
}

.service-banner {
    width: 629px;
    height: 620px;
    margin-top: 27px;
}

.service-but {
    width: 335px;
    height: 59px;
    margin-top: 70px;
    border-radius: 5px;
    border: none;
    background: #5970FF;
    color: #FFFFFF;
    font-family: Inter-Regular;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .service {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 112px;
        margin-left: auto;
        margin-right: auto;
    }

    .service-txt {
        width: 361px;
        height: 136px;
        font-size: 28px;
        line-height: 33.6px;
        margin: 20px 0px 0px 14px;
    }

    .service-note {
        width: 327px;
        height: 66px;
        font-size: 18px;
        line-height: 21.78px;
        margin: 20px 0px 0px 14px;
    }

    .service-banner {
        width: 347px;
        height: 342px;
        margin-top: 24px;
    }

    .service-but {
        width: 335px;
        height: 59px;
        margin: 32px 0px 0px 14px;
    }
}







