/* @font-face {
    src: url("../stylse/fonts/ferry_black.otf");
    font-family: ferry_black;
} */

@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Regular.ttf') format('truetype');
    font-family: PT-Astra-Sans_Regular;
}

@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Bold.ttf') format('truetype');
    font-family: PT-Astra-Sans_Bold;
}

main {
    max-width: 80%;
    min-width: 50%;
    min-height: 80vh;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBE6D6;
}

.main-table {
    max-width: 100%;
    margin-top: 140px;
    overflow-x: auto;
    text-align: center;
}

.main-table-isAuth {
    max-width: 100%;
    margin-top: 0px;
    overflow-x: auto;
    text-align: center;
}

.main-table-but {
    width: 340px;
    height: 50px;
    margin: 50px auto 20px auto;
    gap: 0px;
    border-radius: 5px;
    border: none;
    opacity: 0px;
    color: white;
    background: #163E6C;
    font-family: PT-Astra-Sans_Bold;
    cursor: pointer;
}

.main-table-title {
    color: #163E6C;
    font-size: 38px;
    font-family: PT-Astra-Sans_Bold;
}

.main-table-note {
    color: #163E6C;
    margin-top: 30px;
    font-size: 26px;
    font-family: PT-Astra-Sans_Bold;
}

.table-name-company {
    margin: 20px 0px 30px 0px;
    font-family: PT-Astra-Sans_Bold;
}

.table-name-company h4 {
    color: #163E6C;
}

.table-name-company span {
    color: #D20A11;
}

.material-react-table {
    margin-top: 50px;
}

.custom-tabs {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

.custom-tabs .nav {
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.custom-tabs .nav-item {
    list-style-type: none;
}

.custom-tabs .nav-link {
    background-color: #ececec;
    color: #163E6C;
    width: 220px;
    height: 50px;
    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: PT-Astra-Sans_Bold;
    font-size: 20px;
}

.custom-tabs .nav-link.active {
    background-color: #D20A11;
    color: white;
}

@media (max-width: 768px) {
    main {
        margin-top: 130px;
    }

    .main-table {
        margin-top: 150px;
    }

    .main-table-but {
        width: 290px;
        height: 40px;
        margin: 40px auto 15px auto;
        font-size: 18px;
    }

    .main-table-title {
        font-size: 28px;
    }

    .main-table-note {
        color: #163E6C;
        margin-top: 22px;
        font-size: 22px;
        font-family: PT-Astra-Sans_Bold;
    }

    .table-name-company {
        margin: 15px 0px 20px 0px;
    }

    .table-name-company h4 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .material-react-table {
        margin-top: 30px;
    }

    .custom-tabs .nav-link {
        width: 190px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        font-size: 18px;
    }
}

@media (max-width: 375px) {

    main {
        max-width: 90%;
        margin-top: 150px;
    }

    .main-table {
        margin-top: 30px;
    }

    .main-table-but {
        width: 250px;
        height: 30px;
        margin: 30px auto 10px auto;
        font-size: 16px;
    }

    .main-table-title {
        font-size: 20px;
    }

    .main-table-note {
        margin-top: 16px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .table-name-company {
        margin: 10px 0px 15px 0px;
    }

    .table-name-company h4 {
        font-size: 18px;
    }

    .material-react-table {
        margin-top: 15px;
    }

    .custom-tabs .nav-link {
        width: 150px;
        height: 35px;
        margin: 8px;
        padding: 5px;
        font-size: 14px;
    }
}







