@font-face {
    src: url('../stylse/fonts/Inter-Medium.otf');
    font-family: Inter-Medium;
}

@font-face {
    src: url('../stylse/fonts/Inter-Regular.otf');
    font-family: Inter-Regular;
}

.tariff-card {
    width: 415px;
    height: 540px;
    border-radius: 10px;
    border: 2px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.tariff-header {
    display: flex;
    justify-content: space-between;
    width: 415px;
    height: 132px;
    border-radius: 6px 6px 0px 0px;
    border: 2px;
}

.tariff-name {
    width: 131px;
    height: 36px;
    font-family: Inter-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

.tariff-slogan {
    width: 313px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

.card-1-border {
    border: solid #FFB64F;
}

.card-1 .tariff-header {
    background: #FFB64F;
}

.card-2-border {
    border: solid #7CE3E1;
}

.card-2 .tariff-header {
    background: #7CE3E1;
}

.card-3-border {
    border: solid #000000;
}

.card-3 .tariff-header {
    background: #000000;
    color: #FFFFFF;
}

.card-1 .tariff-header img {
    width: auto;
    height: auto;
    margin-top: 11px;
    margin-right: 15px;
    margin-left: 307px;
    position: absolute;
    z-index: 100;
}

.card-2 .tariff-header img {
    width: auto;
    height: auto;
    margin-left: 283px;
    position: absolute;
    z-index: 100;
}

.card-3 .tariff-header img {
    width: auto;
    height: auto;
    margin-top: 23px;
    margin-left: 314px;
    position: absolute;
    z-index: 100;
}

.tariff-current {
    width: 134px;
    height: 24px;
    margin-top: 12px;
    margin-left: 271px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #3BA5E0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    /* text-align: center; */
}

.tariff-current-none {
    width: 134px;
    height: 24px;
    margin-top: 12px;
    margin-left: 271px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.tariff-price {
    display: flex;
    align-items: center;
    text-align: left;
}

.tariff-discount {
    width: auto;
    height: 36px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    letter-spacing: 0.01em;
}

.tariff-basic {
    width: auto;
    height: 30px;
    margin-left: 19px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.26px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration-line: line-through;
    opacity: 50%;

}

.tariff-explanation {
    width: auto;
    height: 22px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
}

.tariff-txt {
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    margin-top: 59px;
    margin-left: 30px;
}

.tariff-contains {
    width: 313px;
    height: 24px;
    margin-bottom: 5px;
    font-family: Inter-Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    text-align: left;
}

.txt {
    width: auto;
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.01em;
    text-align: left;
}

.txt img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tariff-but-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tariff-but {
    width: 355px;
    height: 59px;
    margin-top: 55px;
    border: none;
    border-radius: 5px;
    background: #5970FF;
    font-family: Inter-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

.tariff-account {
    width: 355px;
    height: 59px;
    margin-top: 55px;
    border: none;
    border-radius: 5px;
    background: #D2D2D2;
    font-family: Inter-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.01em;
    color: #000000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .tariff-card {
        width: 335px;
        height: 512px;
        margin-bottom: 37px;
    }

    .tariff-header {
        width: 335px;
        height: 132px;
    }

    .tariff-name {
        width: 131px;
        height: 36px;
        font-size: 20px;
        line-height: 24.2px;
        margin-top: 30px;
        margin-left: 24px;
    }

    .tariff-slogan {
        width: 313px;
        height: 22px;
        margin-top: 22px;
        margin-left: 24px;
    }

    .card-1-border {
        border: solid #FFB64F;
    }

    .card-2-border {
        border: solid #7CE3E1;
    }

    .card-3-border {
        border: solid #000000;
    }

    .card-1 .tariff-header img {
        width: 59px;
        height: 53.18px;
        margin-top: 13px;
        margin-right: 5px;
        margin-left: 271px;
        position: absolute;
        z-index: 100;
    }
    
    .card-2 .tariff-header img {
        width: 68.3px;
        height: 75.73px;
        margin-left: 248px;
        position: absolute;
        z-index: 100;
    }
    
    .card-3 .tariff-header img {
        width: 73px;
        height: 60.9px;
        margin-top: 15px;
        margin-right: 10px;
        margin-left: 252px;
        position: absolute;
        z-index: 100;
    }

    .tariff-current {
        width: 125px;
        height: 20px;
        margin-top: 2px;
        margin-left: 200px;
        font-size: 12px;
    }
    
    .tariff-current-none {
        width: 125px;
        height: 20px;
        margin-top: 2px;
        margin-left: 200px;
    }

    .tariff-explanation {
        width: 273px;
        height: 44px;
        margin-left: 24px;
    }

    .tariff-txt {
        width: 290px;
        height: 107px;
        margin-top: 37px;
        margin-left: 24px;
    }

    .tariff-contains {
        width: 253px;
        height: 22px;
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .txt {
        width: auto;
        height: 19px;
        margin-top: 8px;
        font-size: 16px;
        line-height: 19px;
    }

    .txt img {
        margin-right: 6px;
    }

    .tariff-but {
        width: 287px;
        height: 59px;
        margin-top: 37px;
        font-family: Inter-Regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.2px;
    }

    .tariff-account {
        width: 287px;
        height: 59px;
        margin-top: 37px;
        font-family: Inter-Regular;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.2px;
    }
}