@font-face {
    src: url('../stylse/fonts/PT-Astra-Sans_Bold.ttf');
    font-family: PT-Astra-Sans_Bold;
}

.reference {
    width: 70%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EBE6D6;
}

.reference-h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 2.3rem;
    font-family: PT-Astra-Sans_Bold;
    color: #163E6C;
}

.reference-h2 {
    margin-top: 20px;
    font-size: 2.1rem;
    font-family: PT-Astra-Sans_Bold;
    color: #163E6C;
}

.reference-content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #C7C7C7;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000026;
    background-color: #FFFFFF;
    overflow-y: auto;
}

.reference-but {
    width: 230px;
    height: 40px;
    gap: 0px;
    border-radius: 5px;
    border: none;
    opacity: 0px;
    color: white;
    background: #D20A11;
    font-family: PT-Astra-Sans_Bold;
    cursor: pointer;
}

/* ****************************** */

@media (max-width: 768px) {
    .reference {
        width: 80%;
        /* min-height: 80vh; */
        margin-top: 130px;
    }

    .reference-h1 {
        margin-top: 15px;
        font-size: 1.9rem;

    }
    
    .reference-h2 {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 1.7rem;
    }

    .reference-content {
        font-size: 18px;
    }

    .reference-but {
        width: 190px;
        height: 40px;
        font-size: 18px;
    }
}

/* ****************************** */

@media (max-width: 375px) {
    .reference {
        width: 95%;
        /* height: 100vh; */
        margin-top: 150px;
    }

    .reference-h1 {
        margin-top: 5px;
        font-size: 1.5rem;
    }

    .reference-h2 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .reference-content {
        margin-top: 10px;
        font-size: 14px;
    }

    .reference-but {
        width: 150px;
        height: 30px;
        font-size: 14px;
    }
}