@font-face {
    src: url("../stylse/fonts/ferry_black.otf");
    font-family: ferry_black;
}

@font-face {
    src: url("../stylse/fonts/Inter-Regular.otf");
    font-family: Inter-Regular;
}

/* Для компонента Search */

.search {
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.search-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 60px;
    margin-right: 82px;
}

.search-txt {
    width: 800px;
    height: 96px;
    font-family: ferry_black;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 45px;
}

.search-note {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 25px;
}

.search_document {
    margin-right: 166px;
    margin-left: 60px;
}

.search_folders {
    margin-right: 22px;
    margin-bottom: 20px;
}

.search-block {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.search-form {
    width: 872px;
    height: 543px;
    margin: 47px 80px 64px 53px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
    display: flex;
    justify-content: space-between;
}

.bunner_search {
    margin-bottom: 71px;
}

.form-input p {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.03em;
    text-align: left;
}

.asterisk-err {
    color: #FF5959;
}

/* Для компонента SearchINN */

.search-INN {
    width: 244px;
    height: 93px;
    margin: 21px 0px 0px 44px;
    border-radius: 5px 0px 0px 0px;
    /* border: 1px; */
}

.enter-txt {
    width: 242px;
    height: 43px;
    padding: 0px 0px 0px 19px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px 0px #0000000D;
    box-sizing: border-box;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
}

.enter-txt:focus {
    width: 242px;
    height: 43px;
    outline: 1px solid #C7C7C7;
    border-color: #C7C7C7;
    padding: 0px 0px 0px 19px;
    box-shadow: 0px 0px 20px 0px #0000000D;
    box-sizing: border-box;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
}

.enter-txt-err {
    width: 242px;
    height: 43px;
    padding: 0px 0px 0px 19px;
    border-radius: 5px;
    border: 1px solid #FF5959;
    box-shadow: 0px 0px 20px 0px #0000000D;
    box-sizing: border-box;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FF5959;
}

.enter-txt-err:focus {
    width: 242px;
    height: 43px;
    outline: 1px solid #FF5959;
    border-color: #FF5959;
    padding: 0px 0px 0px 19px;
    box-shadow: 0px 0px 20px 0px #0000000D;
    box-sizing: border-box;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
    color:#FF5959;
}

.search-error-txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FF5959;
}

/* Для компонента SearchTonality */

.search-tone {
    width: 242px;
    height: 85px;
    margin: 30px 0px 0px 44px;
}

.tone-select {
    position: relative;
}

.tone-select select {
    display: block;
    width: 242px;
    height: 43px;
    background: none;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px 0px #0000000D;
    padding: 0px 0px 0px 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-family: Inter-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    text-align: left;
}

.tone-select:after {
    content: url("../images/select_arrow.png");
    display: block;
    pointer-events: none;
    position: absolute;
    top: 30%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
}

/* Для компонента SearchNumOfDoc */

.search-num-doc {
    width: 328px;
    height: 94px;
    border-radius: 5px;
    border: 1px;
    margin: 21px 0px 0px 44px;
}

.search-num-doc .search-error-txt {
    margin-right: 86px;
}

/* Для компонента SearchDates */

.search-dates {
    width: 372px;
    height: 94px;
    margin: 30px 0px 0px 44px;
}

.dates-input {
    display: flex;
    justify-content: space-between;
}

.dates-input input {
    width: 176px;
    height: 43px;
}

.dates-input input:focus {
    width: 176px;
    height: 43px;
}

/* Для компонента SearchCheckbox */

.form-checkbox {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.chckbox-list {
    width: 406px;
    height: 244px;
    margin-top: 36px;
    margin-right: 39px;
}

.container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0px 0px 15px 0px;
}

.p-turn-on {
    opacity: 40%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    opacity: 40%;
}

.checkmark-on {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* .checkmark:after {
  content: url("../images/form_mark.png");
  position: absolute;
  display: none;
} */

.form-checkbox-but {
    width: 305px;
    height: 59px;
    margin-top: 145px;
    margin-right: 39px;
    border-radius: 5px;
    border: none;
    background: #5970FF;
    color: #FFFFFF;
    font-family: Inter-Regular;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
}

.asterisk-node {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.03em;
    color: #949494;
    margin: 10px 85px 0px 0px;
}

.form-checkbox-but:disabled {
    opacity: 50%;
}

@media (max-width: 768px) {
    .search {
        max-width: 375px;
        margin-top: 68px;
    }

    .search-title {
        flex-direction: column;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
    }

    .search-txt {
        width: 361px;
        height: 136px;
        font-size: 28px;
        line-height: 33.6px;
        margin-left: 14px;
    }
    
    .search-note {
        width: 297px;
        font-size: 18px;
        line-height: 21.8px;
        margin-top: 19px;
        margin-left: 14px;
    }

    .search_document {
        width: 58.24px;
        height: 71.12px;
        margin: 145px 0px 0px 291px;
        position: absolute;
    }
    
    .search_folders {
        display: none;
    }

    .search-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .search-form {
        width: 375px;
        height: 688px;
        margin: 21px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .search-INN {
        width: 335px;
        margin: 21px 26px 0px 14px;
    }

    .enter-txt {
        width: 335px;
    }
    
    .enter-txt:focus {
        width: 335px;
    }

    .enter-txt-err {
        width: 335px;
    }
    
    .enter-txt-err:focus {
        width: 335px;
    }

    .search-tone {
        width: 335px;
        margin: 30px 26px 0px 14px;
    }

    .tone-select select {
        display: block;
        width: 335px;
    }

    .search-num-doc {
        width: 335px;
        margin: 21px 0px 0px 14px;
    }


    .search-num-doc .search-error-txt {
        margin-right: 0px;
    }

    .search-dates {
        width: 335px;
        height: 157px;
        margin: 21px 0px 0px 14px;
    }

    .dates-input {
        height: 106px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dates-input input {
        width: 335px;
    }
    
    .dates-input input:focus {
        width: 335px;
    }

    .form-checkbox {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .chckbox-list {
        display: none;
    }

    .form-checkbox-but {
        width: 335px;
        margin: 40px 0px 0px 14px;
        font-size: 20px;
        line-height: 24.2px;
    }

    .asterisk-node {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        letter-spacing: 0.03em;
        color: #949494;
        margin: 10px 0px 0px 14px;
    }

    .bunner_search {
        width: 375px;
        margin: 24px 0px 24px 0px;
    }
}
